POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=evolution
REDIS_PASSWORD=CHANGE_ME
DATABASE_CONNECTION_URI=postgres://postgres:CHANGE_ME@db:5432/evolution
CACHE_REDIS_URI=redis://default:CHANGE_ME@redis:6379
AUTHENTICATION_API_KEY=CHANGE_ME
